<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <div id="app">

        <form v-on:submit.prevent="alterarNome('Samuel')">

            <input type="text" v-model='textoDigitado'>
            <button type="submit">
                Chamar altera nome
            </button>

            <input type="text" v-on:keyup.enter="alterarNome('Samuel')"
            v-model='textoDigitado'>

            
            <input type="text" v-on:keyup.space="alterarNome('Samuel')"
            v-model='textoDigitado'>

        </form>

    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>  
        new Vue({
            el: '#app',
            data: {
                textoDigitado: '',   
            },
            methods: {
                alterarNome(sobrenome){

                    this.textoDigitado = sobrenome;
                    
                }
            },
        });
    </script> 
</body>
</html>